[project]
	description = Plugins for OpenStack Keystone in Rackspace public cloud
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dolph Mathews (dolph)
[access "refs/for/refs/*"]
	read = group user/Dolph Mathews (dolph)
	push = group user/Dolph Mathews (dolph)
	label-Code-Review = -2..+2 group user/Dolph Mathews (dolph)
	label-Verified = -1..+1 group user/Dolph Mathews (dolph)
	rebase = group user/Dolph Mathews (dolph)
	removeReviewer = group user/Dolph Mathews (dolph)
	submit = group user/Dolph Mathews (dolph)
[access "refs/heads/*"]
	read = group user/Dolph Mathews (dolph)
	create = group user/Dolph Mathews (dolph)
	push = +force group user/Dolph Mathews (dolph)
	pushMerge = group user/Dolph Mathews (dolph)
[access "refs/tags/*"]
	push = +force group user/Dolph Mathews (dolph)
	pushTag = group user/Dolph Mathews (dolph)
	pushSignedTag = group user/Dolph Mathews (dolph)
