[project]
	description = Plugins for OpenStack Keystone in Rackspace public cloud
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dolph Mathews (dolph)
[access "refs/for/refs/*"]
	read = group rackerlabs-capstone-core
	label-Code-Review = -2..+2 group rackerlabs-capstone-core
	rebase = group rackerlabs-capstone-core
	removeReviewer = group rackerlabs-capstone-core
	submit = group rackerlabs-capstone-core
[access "refs/heads/*"]
	read = group user/Dolph Mathews (dolph)
	create = group user/Dolph Mathews (dolph)
	push = +force group user/Dolph Mathews (dolph)
	pushMerge = group user/Dolph Mathews (dolph)
[access "refs/tags/*"]
	push = +force group user/Dolph Mathews (dolph)
	pushTag = group user/Dolph Mathews (dolph)
	pushSignedTag = group user/Dolph Mathews (dolph)
[receive]
	requireChangeId = true
