[rackspace]
base_url = rackspace_base_url  # e.g. https://..../v2.0
feed_url = https://example.com/events
# Polling period in seconds to request new feeds events
polling_period = 60
[service_admin]
username = username_here
password = password_here
project_id = project_id_here
